<!--
 * @Author: lpz 1565561624@qq.com
 * @Date: 2025-04-30 10:41:10
 * @LastEditors: lpz 1565561624@qq.com
 * @LastEditTime: 2025-07-27 21:43:14
 * @FilePath: /lipz/NeutronRAG/NeutronRAG/frontend/templates/login.html
 * @Description: 这是默认设置,请设置`customMade`, 打开koroFileHeader查看配置 进行设置: https://github.com/OBKoro1/koro1FileHeader/wiki/%E9%85%8D%E7%BD%AE
-->
<!DOCTYPE html>
<html lang="zh-CN"> <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>登录</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
</head>
<body>
    <div class="container">
        <h2>欢迎登录 NeutronRAG</h2> <form id="login-form" method="POST">
            <div class="input-group"> <label for="username">用户名</label>
                <input type="text" id="username" name="username" required>
            </div>
            <div class="input-group"> <label for="password">密码</label>
                <input type="password" id="password" name="password" required>
            </div>
            <button type="submit">登录</button>
        </form>

        <p class="register-link">没有账号？<a href="{{ url_for('register_page') }}">立即注册</a></p> </div>

    <script src="{{ url_for('static', filename='js/login.js') }}"></script>
</body>
</html>